.nav_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
   width: 100%;
    padding: 1rem .5rem;
    background-color: #777eff;
}

h2 img{
    max-width: 100px;
    position: relative;
    top: 0;
}

h2 img:hover{
    opacity: .7;
}